.img {
  width: 20px;
  background-color: white;
  border-radius: 100%;
  padding: 2px;
}
.btn {
  width: 240px;
  cursor: pointer;
  background-color: var(--orange);
  display: flex;
  gap: 6px;
  color: white;
  border-radius: 8px;
  height: 40px;
  justify-content: center;
  align-items: center;
}
input {
  border: 1px solid rgb(233, 228, 228);
  background-color: white;
  width: 200px;
  margin: 0;
}
.btn:hover {
  background-color: #ef6b0d;
}
.out-body {
  min-height: 100vh;
  gap: 4;
  padding-inline: 4;
  padding-bottom: 4px;
}
