.nav {
  /* margin-bottom: 15px; */
  padding-top: 10px;
  background-color: black;
}

.nav-in {
  display: flex;
  justify-content: space-between;
  padding: 5px 10vw;
  /* margin-bottom: -10px; */
  align-items: center;
}
.nav-links {
  display: flex;
  gap: 5vw;
}

.nav-icons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.logo {
  width: 90px;
  height: 30px;
  border-radius: 0;
}
.nav-icons > a > img {
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.nav-icons > a > img:hover {
  background-color: #e0e0e073;
  filter: grayscale(0%) brightness(1) invert(0) sepia(1) hue-rotate(-30deg);
  filter: grayscale(0%) brightness(1) invert(0) sepia(0.5) hue-rotate(180deg);
}
.nav-icons > a > img {
  width: 20px;
  height: 20px;
}
hr {
  border: 1px solid rgba(236, 236, 236, 0.667);
}
