.slide-btn {
  position: absolute;
  top: 15%;
  font-size: 25px;
  background-color: rgba(255, 255, 255, 0.578);
  background-color: rgb(8, 1, 71);
  color: rgb(255, 254, 254);
  padding: 5px 10px;
  cursor: pointer;
  opacity: 50%;
  height: 120px;
  display: flex;
  align-items: center;
}
.slide-btn:hover {
  opacity: 80%;
}

.outer-div {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 20px;
}
